<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.riseofdevelopers.stars"
    android:versionCode="5"
    android:versionName="1.25"
    android:minSdkVersion="22"
    android:targetSdkVersion="29"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:debuggable="false"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1001933083418910~8916806263"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OnBoarding"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailStarsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutMe"
            android:screenOrientation="portrait"/>
    </application>

</manifest>